Package: com.vip.security.shield
Name: Security Shield VIP
Version: 1.0.0
Architecture: iphoneos-arm
Description: 1338 Strings Anti-Cheat Bypass (Non-Jailbreak)
Maintainer: SecurityTeam
Author: SecurityTeam
Section: Tweaks
