Package: com.pro.GCloudShield
Name: GCloudShield
Depends: mobilesubstrate
Version: 6.0.0
Architecture: iphoneos-arm
Description: Ultimate AI Cloud Protection for libwebp & Bullet Track.
Maintainer: BlackAmar
Author: BlackAmar
Section: Tweaks
